@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');


*{
  font-family: 'Maven Pro', sans-serif;
  user-select: none;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.reyes{
  width: 65%;
}

.reyes img{
  border-radius: 50%;
  width: 30%;
  margin-bottom: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.reyes img:hover{
  cursor: pointer;
  box-shadow: 1px 0px 10px rgb(121, 120, 120);
}

nav{
  background-color: silver;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

div{
  text-align: center;
}

a{
  text-decoration: none;
  color: black;
  font-size: 2em;
  padding: 7px 10px 12px;
}

a:hover{
  font-weight: bold;
}

.activo{
  background-color: black;
  color: white;
}
